.mx-smallAlert{
  position:fixed;
  top:12px;
  left:12px;
  width:calc(100% - 24px);
  height:80px;
  animation: msg-show 0.5s cubic-bezier(0.55, 0.69, 0.13, 1.2) forwards;
  background: rgba(243, 251, 254, 0.7);
  background: radial-gradient(rgba(243, 251, 254, 0.7),rgba(223, 238, 248, 0.7));
  -webkit-backdrop-filter:blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.049);
  z-index: 200;
  border-radius: 15px;
  padding: 12px 20px;
  transition: margin 0.3s ease,transform 0.3s ease;
  .mx-msg__content{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    .mx-msg__App{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 12px;
      line-height: 12px;
      opacity: 0.6;
      .mx-msg__App-icon{
        width: 12px;
        height: 12px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 12px;  
          height: 12px;
        }
      }
      .mx-msg__App-name{
        font-size: 12px;
        color: #0003;
        margin-left: 8px;
      }
    }
    .mx-msg__text{
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-top: 8px;
      height:100%;
      .mx-msg--title{
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        margin-bottom: 2px;
      }
    }
  }
  &.hide{
    opacity: 0;
    margin-top: 0 !important;
    transition: opacity 0.6s cubic-bezier(0.55, 0.69, 0.13, 1.2);
    animation: msg-hide 0.5s cubic-bezier(0.55, 0.69, 0.13, 1.2) forwards;
  }
}

@keyframes msg-show {
  0%{
    top:-48px;
    left:12px;
    transform: scale(0.4);
    opacity: 0;
  }
  100%{
    top:12px;
    left:12px;
    transform: scale(1);
  }
}
@keyframes msg-hide {
  0%{
    top:12px;
    opacity: 100%;
  }
  100%{
    top:-80px;
    opacity: 0.3;
  }
}