:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.4em;
  line-height: 1.1;
}
h2 {
  font-size: 2.7em;
  line-height: 1.1;
}
p{
  font-size: 1.2em;
  line-height: 1.4;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width:100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




:root { 
  --blackcolor: #000;
  --PageBackground: #f1f4fa;
  --Background: #fff;
  --Shadow: rgba(0, 0, 0, 0.05);
  --SmShadow: rgba(0, 0, 0, .1);
  --Hover: #ededed60;
  --Red: #ff3308;
  --Grey: #ededed;
  --Grey-text: #999; 
  --White: #fff;
  --bdWhite: #fff;
  --Black: #1b1b1b;
  --NavbarBorder: #e8e8e8;
  --NavbarText: #222226;
  --BgNavbarText: #222226;
  --NavbarHover: #f0f0f5;
  --NavbarTextAfter: #007bff;
  --BreadcrumbBackground: #e5eaee;
  --BreadcrumbText: #6c757d;
  --ActiveColor: #007bff;
  --BgActiveColor: #007bff;
  --BdActiveColor: #007bff;
  --ListTextIcon: #222;
  --ListTextDate: #000;
  --ListText: #555;
  --ListColor: #212529;
  --SmListText: #2a2b31;
  --BdSmListText: #2a2b31;
  --LoginBackground: #f7f7f7;
  --Loginbutton: #006de2;
  --FooterTextLink: #efefef;
  --FooterText: #efefefa4;
  --AlertTitle: #303133;
  --AlertColor: #333;
  --sx: #252525b4;
  --sxa: #0092ff;
  --buttonBackground: #f6f6f6;
  --buttoncolor: #0071eb;
  --bgbuttoncolor: #e8e8e8;
  --bgbuttonActive: #0071eb;
  --dcolor: #dadada;
  --dp: #555;
  --dimg: #666;
  --searchbutton: #f8f8f8;
  --searchspan: #441a88;
  --searchshadow: #eaeaea;
  --searchactive: #006de2;
  --bgsearch: #f1f4fa;
  --bdsearch: #0071eb;
  --bguser: #00000080;
  --userli: #eee5;
}

html.dark {
  --blackcolor: #ffffff;
  --PageBackground: #2c3032;
  --Background: #242729;
  --Shadow: rgba(0, 0, 0, 0.05);
  --SmShadow: rgba(0, 0, 0, 0.1);
  --Hover: rgba(51, 56, 57, 0.38);
  --Red: #ff692f;
  --Grey: #50575a;
  --Grey-text: #fcf0e0;
  --White: #242729;
  --White: #ffffff;
  --bdWhite: #484e51;
  --Black: #1e2123;
  --NavbarBorder: #51595c;
  --NavbarText: #ffffff;
  --BgNavbarText: #292c2d;
  --NavbarHover: #2f3335;
  --NavbarTextAfter: #0093ff;
  --BreadcrumbBackground: #363b3e;
  --BreadcrumbText: #ede1ce;
  --ActiveColor: #0093ff;
  --BgActiveColor: #0093ff;
  --BdActiveColor: #0081ff;
  --ListTextIcon: #ffffff;
  --ListTextDate: #ffffff;
  --ListText: #fffff3;
  --ListColor: #ffffff;
  --SmListText: #ffffff;
  --BdSmListText: #bbae9b;
  --LoginBackground: #2c2f30;
  --Loginbutton: #0083ff;
  --FooterTextLink: #ffffff;
  --FooterText: rgba(255, 255, 255, 0.64);
  --AlertTitle: #ffffff;
  --AlertColor: #ffffff;
  --sx: rgba(42, 45, 47, 0.71);
  --sxa: #00b0ff;
  --buttonBackground: #2c3032;
  --buttoncolor: #0087ff;
  --bgbuttoncolor: #383c3f;
  --bgbuttonActive: #0087ff;
  --dcolor: #ffffff;
  --dp: #fffff3;
  --dimg: #fcf0e0;
  --searchbutton: #2a2d2f;
  --searchspan: #f0b0ff;
  --searchshadow: #363b3c;
  --searchactive: #66ffff;
  --bgsearch: #2c3032;
  --bdsearch: #0085ff;
  --bguser: rgba(0, 0, 0, 0.5);
  --userli: rgba(51, 54, 57, 0.33);
}


/* Content Css */
.content .container {
  width: 94%;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 2px;
}

.row.home-wrap>div[class] {
  padding:0 0 0 0;
  margin-bottom: 20px;
}

.row.home-wrap>div[class]:last-child {
  margin-bottom: 0px;
}

@media (min-width:150px) {
  content .container {
    width: 94%;
  }
}

@media (min-width:768px) {
  .content .container {
    width: 760px ;
  }

  .content-box.home-big-swiper .content-box-box {
    height: 450px !important;
  }
}

@media (min-width:992px) {
  .content .container {
    width: 980px ;
  }
  .row.home-wrap>div[class] {
    padding-left: 0px;
    padding-right: 15px;
  }
  
  .row.home-wrap>div[class]:last-child {
    padding: 0;
  }
}

@media (min-width:1200px) and (max-width: 1439px) {
  .content .container {
    width: 1188px ;
  }
  .content-box.home-big-swiper .content-box-box {
    height: 600px !important;
  }
}

@media (min-width: 1440px){
  .content .container {
    width: 1400px ;
  }
  .content-box.home-big-swiper .content-box-box {
    height: 620PX !important;
  }
}




/* Model Css */
.mx-modal__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  background: #000000cc;
  background-color: rgba(0,0,0,0.735);
  z-index: 999999;
  width:100%;
  height:100%;
  /* backdrop-filter: saturate(18%) blur(14px); */
}

.mx-modal__container {
  width: 80%;
  position: relative;
  margin: 0 auto 50px;
  background: var(--Background);
  border-radius: 17px;
  box-shadow: 0  100vh 300vh rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin-top: 25vh;
  animation: dialog-fade-in 0.3s;
  -webkit-box-shadow: 0 4px 10px 0 var(--SmShadow), 0 12px 14px 0 var(--SmShadow);
  box-shadow: 0 4px 10px 0 var(--SmShadow), 0 12px 14px 0 var(--SmShadow);
}

.mx-modal__header {
  padding: 10px 20px;
  height: 24px;
  box-sizing: content-box !important;
}

.mx-modal__title {
  line-height: 24px;
  font-size: 14px;
  color: var(--AlertTitle);
  opacity: 0.7;
  user-select: none;
  -webkit-user-select:none
}

button {
  -webkit-appearance: button;
  /* -webkit-writing-mode: horizontal-tb !important; */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  outline: none !important;
}

.mx-modal__headerbtn {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.mx-modal__body {
  padding: 10px 20px;
  color: var(--AlertColor);
  font-size: 16px;
  word-break: break-all;
}

.mx-modal__footer {
  padding: 35px 20px 20px;
  text-align: right;
  box-sizing: border-box;
  letter-spacing: -5px;
  display: flex;
  justify-content: center;
}

.mx-modal__footer button:first-child {
  margin-right: 10px;
}

.mx-modal-button {
  display: block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: var(--buttonBackground);
  color: var(--ActiveColor);
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 30px;
  height: 50px;
  width: 45%;
  line-height: 16px;
  min-width: 50px;
  flex: 0 0 45%;
  max-width: 65%;
  outline: none;
  border: 0px;
  user-select: none;
}
.onlytrue .mx-modal-button{
  width:80%;
  max-width: 200px;
  flex:0 0 80%;
}

.mx-modal-button+.mx-modal-button {
  margin-left: 6%;
}

.mx-modal-button:focus,
.mx-modal-button:hover {
  color: var(--buttoncolor);
  background: var(--bgbuttoncolor);
}

.mx-modal--primary {
  background-color: var(--BgActiveColor);
  color: var(--White);
  line-height: 16px;
}

.mx-modal--primary:focus,
.mx-modal--primary:hover {
  background-color: var(--bgbuttonActive);
  color: var(--White);
}

.mx-modal__container {
  max-width: 400px !important;
  min-width: 280px !important;
}

@media screen and (min-width: 768px) {
  .mx-modal__container {
    min-width: 480px !important;
  }
}
  

.mxTips{
  position: fixed;
  bottom:40px;
  left:50%;
  transform: translateX(-50%);
  margin: auto;
  display:block;
  padding:12px 15px;
  background:var(--Background);
  border-radius:6px;
  line-height: 15px;
  font-size: 14px;
  color:#333;
  z-index: 10000000;
  box-shadow: 0 2px 12px 0 var(--Shadow), 0 12px 14px 0 var(--Shadow);
}